*{  
    margin: 0px 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
}

.App_Background{ 
    background: rgb(96, 97, 109);
    background: linear-gradient(90deg, rgba(96, 97, 109, 1) 0%, rgba(52, 55, 91, 1) 100%);
    padding: 50px 150px;
}