*{  
    margin: 0px 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
}


.Ligthmode{ 
    background: rgb(96, 97, 109);
    background: linear-gradient(90deg, rgba(96, 97, 109, 1) 0%, rgba(52, 55, 91, 1) 100%);
    padding: 50px 150px;
}

.dartmode{ 
    background: rgb(45, 53, 70);
    background: linear-gradient(90deg, rgba(45, 53, 70, 1) 0%, rgba(24, 24, 52, 1) 100%);
    padding: 50px 150px;
}



@media screen and (max-width:810px){
    .Ligthmode {
        padding: 50px;
    }
    
    .dartmode {
        padding: 50px;
    }
}

@media screen and (max-width:440px) {
    .Ligthmode {
        padding: 15px;
    }
    .dartmode {
        padding: 15px;
    }
}