.Nav{   
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 80px;
  margin-bottom: 50px;

  background-color: #313244;
  border-radius: 50px;
  color: #ececec;
}

.NavDarth{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  height: 80px;
  margin-bottom: 50px;
  
  background-color: #15182b;
  border-radius: 50px;
  color: #ececec;
}

.Nav_icon{  
  font-size: 40px;
  cursor: pointer;
}

.Nav_input{

  height: 40px;
  padding: 0px 20px;

  background-color: #434357;
  color: #ececec;
  border: none;
  border-radius: 13px;

  outline: none;
  
}

.Nav_greeting{
  font-size: 20px;
  margin:0px 100px;
}

.Nav_ul{
  display: flex;
  gap: 15px;
  font-size: 25px;
  list-style: none;
}

.Nav_link{
  color: #ececec;
  cursor: pointer;
}


@media screen and (max-width:1354px) {
  .Nav_greeting {
    font-size: 20px;
    margin: 0px;
  }
}

@media screen and (max-width:1040px) {/*tarjetas cambio misma medida*/
  .Nav_greeting {
    display: none;
  }
}

@media screen and (max-width:814px) {
  .Nav_input {
    width: 50px;
    height: 40px;
    padding: 0px 20px;
    background-color: #434357;
    color: #ececec;
    border: none;
    border-radius: 13px;
    outline: none;
  }
}

@media screen and (max-width:440px) {
  .Nav_icon {
    display: none;
  }
}

@media screen and (max-width:378px){  
  .Nav_ul {
    display: flex;
    gap: 8px;
    font-size: 25px;
    list-style: none;
  }
}